<li class="pb-3 sm:pb-4">
    <div class="flex items-center space-x-4 rtl:space-x-reverse">
        
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                <%= message.user.username %>
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                <%= message.body %>
            </p>
            <p class="text-xs truncate dark:text-gray-500 mt-5">
                <%= time_ago_in_words(message.created_at) %> ago
            </p>
        </div>
    </div>
</li>