<div class="bg-white full-w">
  
  <div class="relative isolate px-6 pt-14 lg:px-8 w-full">
    
    


    <div class="flex w-full text-white">
        <div class="flex-col w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col pb-10 text-white w-400">
                <h2 class="text-xl mb-10">Chats here</h2>

                <ul id="chatroom-messages-container" class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    <%= render @messages %>
                </ul>

            </div>
            <%= render 'form' %>
            
        </div>            
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <h2 class="text-xl mb-10">Chat Participants</h2>
            <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                <% @users.map do |user| %>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    <%= user.username %>
                                </p>                                
                            </div>                            
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>
